// 定义前缀
@prefix: nbs;
// 定义Loading动画
@keyframes nbs-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.@{prefix}-spin {
  animation: nbs-spin 1s infinite  linear;
  &.slow-spin {
    animation-duration: 3s;
  }
  &.fast-spin {
    animation-duration: .5s;
  }
}

.@{prefix}-toast {
  padding: 10px !important;
  > .mint-toast-text {
    padding: 0 !important;
  }
}
